<h1>This is the albumShow.ejs</h1>


<% for(album of albumShow) { %>
<div class="container row">
	<!-- <div class="col-md-12">
		
	</div> -->
        <%= album.title %>
        <br>
        <!-- <%= album.id %> -->
        <br>
        <%= album.year %>
        <br>
        <!-- <%= album.count %> -->
        <!-- <%= album.track_no %>
        <br>
         <br>
        <%= album.length %> -->
        <br><br>
        
                   <hr> 
                    
</div>
    <% } %>